@{
    ViewBag.Title = "Home Page";
      Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <img src="~/ImagensLayout/folder.jpg" class="img-fluid"/>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="col-xs-4">
            <div>
                <h2 class="text-info text-center">Crie Postagens</h2>
            </div>
            <div class="table-bordered">
                <p class="text-center" style="font-size:18px">
                    Crie postagens sobre problemas em sua região, de mais variados tipos de problemas públicos como:
                </p>
                <div class="row offset-1">
                    <div class="col-xs-6" style="font-size:16px">
                        <ul>
                            <li>Infraestrutura</li>
                            <li>Transporte</li>
                            <li>Saneamento</li>
                        </ul>
                    </div>
                    <div class="col-xs-6" style="font-size:16px">
                        <ul>
                            <li>Saúde</li>
                            <li>Segurança</li>
                            <li>Educação</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-xs-4">
            <div>
                <h2 class="text-info text-center">Avalie Soluções</h2>
            </div>
            <div class="table-bordered">
                <p class="text-center" style="font-size:18px">
                    Avalie soluções em suas postagens, e observando como cada político se compromete em lhe ajudar.<br />
                    Acompanhe também as avaliações de outros eleitores sobre os problemas postados.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-xs-4">
            <div>
                <h2 class="text-info text-center">Acompanhe Políticos</h2>
            </div>
            <div class="table-bordered">
                <p class="text-center" style="font-size:18px">
                    Observe as soluções dadas por políticos eleitos de sua região, e crie seu feedback pessoal sobre cada um.<br>
                    Seja um eleitor conciente e vote apenas em candidatos que se comprometem em ouvir e ajudar a população.
                </p>
            </div>
        </div>
    </div>
</div>